*{padding:0; margin:0;}
:focus{outline:none;}


center{margin:0 auto; width:1003px;}

header{width:100%; display:block; padding:8px 0;}
header ul.top-nav{list-style:none; text-align:center}
header ul.top-nav li{display:inline; width:auto; padding:0 14px; background:url(../images/top-nav-sep.gif) no-repeat 0 2px; font:13px/18px Arial, Helvetica, sans-serif;}
header ul.top-nav li:first-child{padding-left:0; background:none;}
header ul.top-nav li a{color:#636363; text-decoration:none;}

header.head-mid{width:100%; min-height:173px; background-color:#2a8bd0; display:block; padding:3px 0;}
header.head-mid .logo{background:url(../images/logo.jpg) no-repeat 0 0; width:170px; height:176px; float:left; text-indent:-99999px;}
header.head-mid .head-right{float:right; width:728px;}
header.head-mid .head-right .add-banner{width:100%; display:block; margin-top:27px; height:90px;}
header.head-mid .head-right span{font:600 12px/15px Arial, Helvetica, sans-serif; color:#fff; float:left; padding:22px 0 0 10px;}
header.head-mid .head-right ul{list-style:none; float:right;}
header.head-mid .head-right ul li{width:auto; float:left; margin:17px 15px 0 0;}
header.head-mid .head-right ul li:first-child{padding-left:36px;}
header.head-mid .head-right ul li:last-child{margin-right:0px;}
header.head-mid .head-right ul li a{background:url(../images/head-sprite-icon.jpg) no-repeat 0 0; height:25px; display:inline-block; width:25px;}
header.head-mid .head-right ul li a.delhi-aajtak{background-position:0 0;}
header.head-mid .head-right ul li a.tez{background-position:-27px 0; width:27px;}
header.head-mid .head-right ul li a.indiatoday{background-position:-54px 0; width:70px;}
header.head-mid .head-right ul li a.livetv{background-position:-124px 0; width:55px;}

header.head-bottom{width:100%; min-height:32px; background-color:#014478; display:block; padding:0;}
header.head-bottom nav{display:block; width:100%;}
header.head-bottom nav ul{list-style:none;}
header.head-bottom nav ul li{width:auto; float:left; padding-right:23px; position:relative; z-index:1}
header.head-bottom nav ul li:last-child{padding-right:0; padding-left:8px;}
header.head-bottom nav ul li a{font:18px/28px "mangal", sans-serif; color:#fff; text-decoration:none;}
header.head-bottom nav ul li a.search-icon{background:#001b30 url(../images/search-icon.gif) no-repeat 6px 7px; width:23px; height:19px; float:right; padding:7px 6px 6px;}

header.head-bottom nav ul li:hover ul.sub-nav{display:block;}

ul.sub-nav{position:absolute; top:30px; left:0; background-color:#014478; display:none;}
ul.sub-nav li{text-align:center; border-bottom:1px solid #022e51; padding:3px 0 4px !important; width:100% !important;}
ul.sub-nav li a{font:18px/28px "mangal", sans-serif; color:#fff;}

header.head-bottom .search-area{width:274px; height:26px; background-color:#001b30; position:absolute; top:31px; right:0; padding:6px 0 0 0; display:none;}
header.head-bottom .search-area label{font:12px/14px Arial, Helvetica, sans-serif; color:#fff; float:left; margin:4px 4px 0 3px;}  
header.head-bottom .search-area input[type="radio"]{width:auto; float:left; margin:4px 0 0 4px;}
header.head-bottom .search-area input[type="text"]{width:120px; min-height:19px; background-color:#fff; border-radius:1px; padding:0 0 0 9px; float:left; border:0;}
header.head-bottom .search-area input[type="button"]{background-color:#01538f; width:30px; min-height:19px; text-align:center; font:bold 13px/16px Arial, Helvetica, sans-serif; color:#fff; cursor:pointer; border:0; border-radius:2px;top:-1px; position:relative;}

.breaking-news-new{float:left; width:100%; background: #c10909; background: -moz-linear-gradient(top,  #c10909 0%, #680605 100%, #2989d8 100%, #207cca 100%); background: -webkit-linear-gradient(top,  #c10909 0%,#680605 100%,#2989d8 100%,#207cca 100%); background: linear-gradient(to bottom,  #c10909 0%,#680605 100%,#2989d8 100%,#207cca 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c10909', endColorstr='#207cca',GradientType=0 ); min-height:40px; margin-bottom:20px; position:relative;}
.breaking-news-new .close-icon{background:url(../images/breaking-close-icon.png) no-repeat 0 0; width:18px; height:18px; position:absolute; top:0; right:0;}
.breaking-news-new h3{font:bold 22px/40px Arial, Helvetica, sans-serif; color:#ff9600; text-transform:uppercase; float:left; background-color:#000; padding:0 4px; min-height:40px;}
.breaking-news-new strong{background:url(../images/breaking-arrow.png) no-repeat 0 0; width:9px; height:15px; float:left; margin-top:12px;}
.breaking-news-new .live-tv{float:right; background:url(../images/live-tv.png) no-repeat 0 0; width:56px; height:21px; margin:9px 20px 0 0;}
.breaking-news-new p{display:inline; float:left; padding-left:6px; font:bold 20px/34px "mangal", sans-serif; color:#fff;}
.breaking-news-new p a{color:#fff; text-decoration:none;}
.breaking-news-new p a:hover{text-decoration:underline;}
.breaking-news-new p em{color:#ff9600; font:normal 12px/16px Arial, Helvetica, sans-serif;}















